.app {
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
	background-color: #39f;
	width: 400px;
	border: 2px solid #004d99;
	color: #fff;
	font-family: sans-serif;
}

.errorLabel {
	color: red;
	font-size: large;
	font-weight: bolder;
}

input {
	margin: 20px;
	width: 300px;
	padding: 5px;
}

button {
	margin: 30px;
	padding: 10px;
	color: #fff;
	font-size: medium;
	font-weight: bold;
	background-color: #1c0099;
	border-radius: 17px;
}

button:hover {
	opacity: 0.7;
	cursor: pointer;
}

button:disabled {
	background-color: gray;
}
